*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-size: 5rem;
    font-weight: bold;
    background-color: blueviolet;

}
.clock-container{
    margin: 15% auto;
    display: flex;
    width: 70%;
    justify-content: space-around;

}
#hours,#minutes,#seconds{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
